$borderColor: #E6EAEA;

@mixin byebye {
  display: none;
}

@mixin minimizer {
  width: 50px;
  height: auto;
}

@mixin flexing {
  display: flex;
  flex-direction: row;
}


body {
  font-family: "apercu",sans-serif;
  background-color: #f4f7f6;
}

#awwwards-logo {
  width: 50%;
  margin-left: 30%;
}

.navbar {
  @include flexing;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  border-bottom: 1px solid $borderColor;
}

.menuAndMag {
  @include flexing;
  align-items: center;
}

.navbar-right{
  @include flexing;
  align-items: center;
}

.secondary-bar {
  @include flexing;
  justify-content: space-between;
  border-bottom: 1px solid $borderColor;
}

.tabs {
  @include flexing;
  align-items: center;
}
.tabs a {
  position: relative;
  line-height: 73px;
  width: 120px;
  height: 69px;
  border-left: 1px solid $borderColor;
  font-size: 13px;
  text-align: center;
  font-size-adjust: auto;
}

a {
  color: black;
  &:link {
    text-decoration: none;
  }
}

#mag-glass {
  @include minimizer;
}

#mag-glass2 {
  @include minimizer;
  visibility: hidden;
  z-index: 2;
}

#green-background {
  background-color: #49c5b6;
  color: white;
  font-size: 13px;
  height: 70px;
  border: 1px solid #49c5b6;
}

#safety-cone, #wee-pips {
  width: auto;
  height: 80%;
}

.columnizer {
  padding-top: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  max-width: 1913px;
  margin: 0px auto;
}

.columnizer > img {
  max-width: 419px;
  max-height: 435px;
  margin-bottom: 10px;
  padding-right: 5px;
  padding-left: 5px;
}

@media screen and (max-width: 1440px) {
  #tv-size {
    @include byebye;
  }
}

@media screen and (max-width: 1024px) {
  #mag-glass {
    @include byebye;
  }
  #mag-glass2 {
    z-index: 2;
    visibility: visible;
  }
  #reg-login {
    @include byebye;
  }
}

@media screen and (max-width: 425px) {
  .secondary-bar {
    @include byebye;
  }
  #green-background {
    @include byebye;
  }
}
